html,
body {
  height: 100%;
  width: 100%;
}

#block-screen {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;
}

.block-screen__show {
  display: block;
}

.block-screen__hide {
  display: none;
}
